@font-face {
  font-family: 'BankGothic';
  src: url('../../bin/Font/bankgothic-md-bt-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../bin/Font/bank-gothic-md-bt-medium-1361510860.ttf')  format('truetype'); /* IE9 Compat Modes */
}
.BankGothic {
  font-family:'BankGothic';
}
