Header {
  margin:0px;
  padding:0px;
  background-color:#000;
  margin-bottom: 0;
  background-color:rgba( 0, 0, 0, .97 )
  color:white;
  position:fixed;
  width:100%;
  font-size:30px;
  padding:10px;
  z-index:99999;
}
